@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  position: absolute;
  top: 60px;
  right: 50%;
  transform: translateX(50%);
  width: 140px;
  background: #121212ea;
  color: white;

  /* border-radius: 8px; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 5px;
}
.dropdown.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
